.anasayfa {
background-image: url('/images/iteration-1-images/home-banner.png');
  background-size: contain;        
  background-position: left top; 
  background-repeat: no-repeat;

  width: 1100px;
  height: 700px;
  overflow: hidden;
}

.anasayfa p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
  color: white;
  margin-top: 15px;
}
.anasayfa button{
     width: 120px;
  height: 30px;
  background-color: #ffb400;
  border: none;
  border-radius: 50px;
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  line-height: 10px;
  }

  .header-inner{
  margin-top: 70px;
}
@media (max-width: 768px) {
  .anasayfa {
    width: 100%;     
    height: 400px;    
    background-size: cover;  
    background-position: center top;
  }

  .anasayfa p {
    font-size: 30px;  
    margin-top: 10px;
  }

  .anasayfa button {
    width: 100px;
    height: 28px;
    font-size: 13px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .anasayfa {
    width: 80%;
    height: 500px;
    background-size: cover;
    background-position: center top;
  }

  .anasayfa p {
    font-size: 40px;
    margin-top: 12px;
  }

  .anasayfa button {
    width: 110px;
    height: 30px;
    font-size: 14px;
  }
}
