.pizza-tanim {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.pizza-tanim-container {
  width: 100%;
}

.pizza-card {
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
  align-items: center;  
  min-height: calc(100vh - 200px); 
  width: 50%;
  margin-left: 300px; 
  box-sizing: border-box;
}

.price-rating {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  width: 100%;                    
}

.rate-number {
  margin-right: 40px; 
}

.pizza-card h2 {
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.pizza-info {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.pizza-info p, .pizza-info h2 {
  margin: 5px 0;
  white-space: normal;
  text-align: left;
}

@media (max-width: 1024px) {
  .pizza-card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-height: auto;
  }

  .pizza-info {
    padding: 0 15px;
  }

  .price-rating {
    flex-direction: column;
    align-items: flex-start;
  }

  .pizza-card h2 {
    font-size: 1.1rem;
  }

  .pizza-info p {
    font-size: 0.95rem;
  }
}

@media (max-width: 600px) {
  .pizza-card {
    width: 90%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    min-height: auto;       
    padding: 10px 10px;    
  }

  .pizza-info {
    padding: 0 10px;
  }

  .pizza-card h2 {
    font-size: 1rem;
  }

  .pizza-info p {
    font-size: 0.9rem;
    line-height: 1.3;       
  }

  .price-rating {
    width: 100%;
    flex-direction: column;  
    align-items: flex-start;
    gap: 5px;             
  }

  .rate-number {
    margin-right: 0;      
  }
}